.btn-new-event{
    background-color: #550000 !important;
    border: transparent !important;
    color: white !important;
}
.btn-new-event:hover{
    background-color: #800505 !important;
    color:white !important;
}

.search-container {
    position: relative; 
    display: inline-block; 
    width: 380px; 
}

.search-input {
    width: 100%; 
    padding: 5px 40px 5px 15px; 
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    font-size: 16px;
    background-color: #B3B3B380; 
}

.search-input::placeholder {
    color: #888; 
}

.search-btn {
    position: absolute; 
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%); 
    background: none; 
    border: none;
    color: #555; 
    font-size: 18px;
    cursor: pointer;
}

.search-btn:hover {
    color: #333; /* Darker color on hover */
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 50px 0;
}

th, td {
    padding: 10px;
    text-align: center;
    
}

#name-clm{
    text-align: start;
}
th {
    color: #550000;
    font-weight:lighter;
}

th:first-child{
    text-align: start;
}
td{
    color: #550000;
    font-weight: 400;
}

tr.no-data {
    background-color: #ffe4c4; /* Light orange background */
    text-align: center;
    color: #884444; /* Dark brown text */
}

.no-data td {
    font-weight: bold;
}

/*add event modal*/
.modal{
    --bs-modal-width: 700px !important;
}

.modal-content {
    border: 2px solid #550000 !important;
}
.modal-header {
    border-bottom: none;
    color: #550000;
}
.sched_type{
    color:#550000;
}
.form-group label{
    position: relative;
    transform: translateY(17px);
    left: 12px;
    background-color: white;
    transition: 0.3s ease;
    font-size: 12px;
}

.form-group:nth-child(3){
    margin-top: -20px !important;
}
.form-group:nth-child(4){
    margin-top: -20px !important;
}
.form-group label:nth-child(2){
    transform: translateY(-50px);
}
.time-schedule .input-group{
    width: 200px !important;
}
.time-schedule .form-group label{
    transform: translateY(-46px);
    background-color: transparent;
}
.time-schedule .form-group:nth-child(1){
    margin-top: 20px !important;
}
.time-schedule .form-group:nth-child(2){
    margin-top: -10px !important;
}

.btn-cancel {
    border: 1px solid #550000 !important; /* Dark red border */
    color: #800000 !important; /* Dark red text */
}

.btn-submit {
    background-color: #550000 !important;
    color: white !important;
}

.event-type{
    margin-top: -20px !important;
}